{% extends 'home/base.html' %}

{% block base_site_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/css/index/style.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='home/css/index/themes/flat-blue.css') }}">
{% endblock %}

{% block body_class %}class="flat-blue"{% endblock %}

{% block body %}
    <div class="app-container">
        <div class="row content-container">

            <!--导航栏-->
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li class="active">首页</li>
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">{{ session['user'] }}<span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="profile-img">
                                    <img src="{{ url_for('static', filename='home/img/index/profile/picjumbo.com_HNCK4153_resize.jpg') }}"
                                         class="profile-img">
                                </li>
                                <li>
                                    <div class="profile-info">
                                        <h4 class="username">{{ session['user'] }}</h4>
                                        <div class="btn-group margin-bottom-2x" role="group">
                                            <a href="{{ url_for('home.change_password') }}">
                                                <button type="button" class="btn btn-default"><i class="fa fa-user"></i>修改密码
                                                </button>
                                            </a>
                                            <a href="{{ url_for('home.logout') }}">
                                                <button type="button" class="btn btn-default"><i
                                                        class="fa fa-sign-out"></i>退出
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <!--侧边栏-->
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ url_for('home.index') }}">
                                <div class="icon fa fa-paper-plane"></div>
                                <div class="title">XX运维平台</div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">

                            <!--首页-->
                            <li class="active">
                                <a href="{{ url_for('home.index') }}">
                                    <span class="icon fa fa-tachometer"></span><span class="title">仪表盘</span>
                                </a>
                            </li>

                            <!--资产管理-->
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-assets">
                                    <span class="icon fa fa-desktop"></span><span class="title">资产管理</span>
                                </a>

                                <!--资产管理子菜单-->
                                <div id="dropdown-assets" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="{{ url_for('assets.assets_list', page=1) }}">资产列表</a></li>
                                            <li><a href="{{ url_for('assets.server_list', page=1) }}">服务器管理</a></li>
                                            <li><a href="{{ url_for('assets.host_group_list', page=1) }}">主机组管理</a></li>
                                            <li><a href="{{ url_for('assets.idc_list', page=1) }}">机房管理</a></li>
                                            <li><a href="{{ url_for('assets.tag_list', page=1) }}">标签管理</a></li>
                                            <li><a href="{{ url_for('assets.vendor_list', page=1) }}">厂商管理</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <!--用户管理-->
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-users">
                                    <span class="icon fa fa-user"></span><span class="title">用户管理</span>
                                </a>

                                <!--用户管理子菜单-->
                                <div id="dropdown-users" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="{{ url_for('users.user_list', page=1) }}">用户列表</a></li>
                                            <li><a href="{{ url_for('users.group_list', page=1) }}">用户组列表</a></li>
                                            <li><a href="{{ url_for('users.role_list', page=1) }}">角色管理</a></li>
                                            <li><a href="{{ url_for('users.auth_list', page=1) }}">权限管理</a></li>
                                            <li><a href="{{ url_for('users.login_log', page=1) }}">操作日志</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <!--数据统计-->
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-statistics">
                                    <span class="icon fa fa-bar-chart"></span><span class="title">数据统计</span>
                                </a>

                                <!--数据统计子菜单-->
                                <div id="dropdown-statistics" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="#">资产统计</a>
                                            </li>
                                            <li><a href="#">用户统计</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                        </ul>
                    </div>
                </nav>
            </div>

            <!--主内容-->
            <div class="container-fluid">
                <div class="side-body padding-top">
                    {% block body_main %}{% endblock %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

<!--页脚-->
{% block footer %}
    <footer class="app-footer">
        <div class="wrapper" id="footer">
            © 2018 Copyright. NX from NX
        </div>
    </footer>
{% endblock %}

{% block base_site_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='home/js/index/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='home/js/index/index.js') }}"></script>
{% endblock %}
