{% extends 'home/base_site.html' %}
{% import 'users/pagination.html' as pg %}

{% block title %}主机组管理{% endblock %}

{% block other_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/host_group_list.css') }}">
{% endblock %}

{% block body_main %}
    <div class="row">
        <a href="{{ url_for('assets.host_group_add') }}">
            <button class="btn btn-success">新增主机组</button>
        </a>
        {{ pg.page(page_data, 'assets.server_list') }}
    </div>
    <div class="row">
        {% for msg in get_flashed_messages(category_filter=['ok']) %}
        <div class="alert alert-success alert-dismissible" id="msg_title">
            <button class="close" type="button" data-dismiss="alert" aria-atomic="true">x</button>
            <h4>操作成功</h4>
            <p>{{ msg }}</p>
        </div>
        {% endfor %}
        {% for msg in get_flashed_messages(category_filter=['error']) %}
        <div class="alert alert-danger alert-dismissible" id="msg_title">
            <button class="close" type="button" data-dismiss="alert" aria-atomic="true">x</button>
            <h4>操作失败</h4>
            <p>{{ msg }}</p>
        </div>
        {% endfor %}
        <table class="table table-bordered table-hover">
            <tr class="active">
                <th>编号</th>
                <th>主机组名</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            {% for v in page_data.items %}
            <tr>
                <td class="col-md-1">{{ v.id }}</td>
                <td class="col-md-1">{{ v.name }}</td>
                <td class="col-md-1">{{ v.remark }}</td>
                <td class="col-md-1">
                    <a href="{{ url_for('assets.host_group_edit', id=v.id) }}" class="btn btn-warning btn-xs" id="button">编辑</a>
                    <a href="{{ url_for('assets.host_group_delete', id=v.id) }}" class="btn btn-danger btn-xs" id="button">删除</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}