{% extends 'home/base_site.html' %}

{% block title %}编辑服务器{% endblock %}

{% block other_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/server_add.css') }}">
{% endblock %}

{% block body_main %}
    <div class="form-group" id="main_body">
        <div class="page-header" id="add_user_title">
            <div class="container" id="add_user_title_container">
                <h3>编辑服务器</h3>
            </div>
        </div>
        <form class="form-horizontal" id="form_body" method="post">
            {{ form.csrf_token }}
            {% for msg in get_flashed_messages(category_filter=['ok']) %}
                <div class="alert alert-success alert-dismissible" id="msg_title">
                    <button class="close" type="button" data-dismiss="alert" aria-atomic="true">x</button>
                    <h4>操作成功</h4>
                    <p>{{ msg }}</p>
                </div>
            {% endfor %}
            {% for msg in get_flashed_messages(category_filter=['error']) %}
                <div class="alert alert-danger alert-dismissible" id="msg_title">
                    <button class="close" type="button" data-dismiss="alert" aria-atomic="true">x</button>
                    <h4>操作失败</h4>
                    <p>{{ msg }}</p>
                </div>
            {% endfor %}
            <div class="form-group" id="fields">
                <label for="inputUsername" class="col-md-1 control-label">{{ form.sn_number.label }}</label>
                <div class="col-md-2" id="rows">{{ form.sn_number(value=server.sn_number, readonly='readonly') }}</div>
                <label for="inputPassword" class="col-md-1 control-label">{{ form.name.label }}</label>
                <div class="col-md-3" id="rows">{{ form.name(value=server.name) }}</div>
                <label for="inputActive" class="col-md-1 control-label">{{ form.vendor.label }}</label>
                <div class="col-md-4">{{ form.vendor }}</div>
            </div>
            <div class="form-group" id="fields_error">
                {% for err in form.sn_number.errors %}
                    <div class="col-md-3">{{ err }}</div>
                {% else %}
                    <div class="col-md-3"></div>
                {% endfor %}
                {% for err in form.name.errors %}
                    <div class="col-md-4">{{ err }}</div>
                {% else %}
                    <div class="col-md-4"></div>
                {% endfor %}
                {% for err in form.vendor.errors %}
                    <div class="col-md-5">{{ err }}</div>
                {% else %}
                    <div class="col-md-5"></div>
                {% endfor %}
            </div>
            <div class="form-group" id="fields">
                <label for="inputName" class="col-md-1 control-label">{{ form.cpu_type.label }}</label>
                <div class="col-md-2" id="rows">{{ form.cpu_type(value=server.cpu_type) }}</div>
                <label for="inputPhone" class="col-md-1 control-label">{{ form.cpu_count.label }}</label>
                <div class="col-md-2" id="rows">{{ form.cpu_count(value=server.cpu_count) }}</div>
                <label for="inputEmail" class="col-md-1 control-label">{{ form.memory_capacity.label }}</label>
                <div class="col-md-2" id="rows">{{ form.memory_capacity(value=server.memory_capacity) }}</div>
                <label for="inputCompanyName" class="col-md-1 control-label">{{ form.power_count.label }}</label>
                <div class="col-md-2" id="rows">{{ form.power_count(value=server.power_count) }}</div>
            </div>
            <div class="form-group" id="fields_error">
                {% for err in form.cpu_type.errors %}
                    <div class="col-md-3">{{ err }}</div>
                {% else %}
                    <div class="col-md-3"></div>
                {% endfor %}
                {% for err in form.cpu_count.errors %}
                    <div class="col-md-3">{{ err }}</div>
                {% else %}
                    <div class="col-md-3"></div>
                {% endfor %}
                {% for err in form.memory_capacity.errors %}
                    <div class="col-md-3">{{ err }}</div>
                {% else %}
                    <div class="col-md-3"></div>
                {% endfor %}
                {% for err in form.power_count.errors %}
                    <div class="col-md-3">{{ err }}</div>
                {% else %}
                    <div class="col-md-3"></div>
                {% endfor %}
            </div>
            <div class="form-group" id="fields">
                <label for="inputEmail" class="col-md-1 control-label">{{ form.network_card_count.label }}</label>
                <div class="col-md-2" id="rows">{{ form.network_card_count(value=server.network_card_count) }}</div>
                <label for="inputAdmin" class="col-md-1 control-label">{{ form.network_card_type.label }}</label>
                <div class="col-md-2">{{ form.network_card_type }}</div>
                <label for="inputEmail" class="col-md-1 control-label">{{ form.disk_capacity.label }}</label>
                <div class="col-md-2" id="rows">{{ form.disk_capacity(value=server.disk_capacity) }}</div>
                <label for="inputCompanyName" class="col-md-1 control-label">{{ form.disk_type.label }}</label>
                <div class="col-md-2" id="rows">{{ form.disk_type }}</div>
            </div>
            <div class="form-group" id="fields_error">
                {% for err in form.network_card_count.errors %}
                    <div class="col-md-3">{{ err }}</div>
                {% else %}
                    <div class="col-md-3"></div>
                {% endfor %}
                {% for err in form.network_card_type.errors %}
                    <div class="col-md-3">{{ err }}</div>
                {% else %}
                    <div class="col-md-3"></div>
                {% endfor %}
                {% for err in form.disk_capacity.errors %}
                    <div class="col-md-3">{{ err }}</div>
                {% else %}
                    <div class="col-md-3"></div>
                {% endfor %}
                {% for err in form.disk_type.errors %}
                    <div class="col-md-3">{{ err }}</div>
                {% else %}
                    <div class="col-md-3"></div>
                {% endfor %}
            </div>
            <div class="form-group" id="active_admin">
                <label for="inputEmail" class="col-md-1 control-label">{{ form.ip_address.label }}</label>
                <div class="col-md-2" id="rows">{{ form.ip_address(value=server.ip_address) }}</div>
                <label for="inputCompanyName" class="col-md-1 control-label">{{ form.mac_address.label }}</label>
                <div class="col-md-2" id="rows">{{ form.mac_address(value=server.mac_address) }}</div>
                <label for="inputCompanyName" class="col-md-1 control-label">{{ form.system_version.label }}</label>
                <div class="col-md-2" id="rows">{{ form.system_version(value=server.system_version) }}</div>
            </div>
            <div class="form-group" id="fields_error">
                {% for err in form.ip_address.errors %}
                    <div class="col-md-3">{{ err }}</div>
                {% else %}
                    <div class="col-md-3"></div>
                {% endfor %}
                {% for err in form.mac_address.errors %}
                    <div class="col-md-3">{{ err }}</div>
                {% else %}
                    <div class="col-md-3"></div>
                {% endfor %}
                {% for err in form.system_version.errors %}
                    <div class="col-md-3">{{ err }}</div>
                {% else %}
                    <div class="col-md-3"></div>
                {% endfor %}
            </div>
            <div class="form-group" id="group_role_list">
                <label for="inputGroup" class="col-md-1 control-label">{{ form.groups.label }}</label>
                <div class="col-md-5">
                    {{ form.groups }}
                </div>
                <label for="inputRole" class="col-md-1 control-label">{{ form.RAID_type.label }}</label>
                <div class="col-md-5">
                    {{ form.RAID_type }}
                </div>
            </div>
            <div class="form-group" id="fields_error">
                {% for err in form.groups.errors %}
                    <div class="col-md-6" id="errors">{{ err }}</div>
                {% else %}
                    <div class="col-md-6"></div>
                {% endfor %}
                {% for err in form.RAID_type.errors %}
                    <div class="col-md-6" id="errors">{{ err }}</div>
                {% else %}
                    <div class="col-md-6"></div>
                {% endfor %}
            </div>
            <div class="form-group" id="fields">
                <label for="inputRemark" class="col-md-1 control-label">{{ form.remark.label }}</label>
                <div class="col-md-11">
                    {{ form.remark(value=server.remark) }}
                </div>
            </div>
            <div class="form-group" id="submit_cancel">
                <div class="col-sm-offset-3 col-md-2">
                    {{ form.submit }}
                </div>
                <div class="col-sm-offset-2 col-md-2">
                    <a href="{{ url_for('assets.server_list', page=1) }}" class="btn btn-danger btn-block">取消</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}